
.label-text {
  -fx-text-fill: -fx-primary-color; /* #161515 */
}

.buttons {
  -fx-background-color: -fx-accent-color; /* #b2a600 */
  -fx-text-fill: -fx-primary-color; /* #fdfffa */
}

.addictional-buttons {
  -fx-background-color: -fx-addictional-color; /* #58581a */
  -fx-text-fill: -fx-primary-color; /* #fdfffa */
}

.text-field {
  -fx-prompt-text-fill: -fx-primary-color; /* #161515 */
}

.text-field:focused {
  -fx-text-fill: -fx-primary-color; /* #161515 */
}

/* Styling for combo box list cells */
.jfx-combo-box .list-cell:empty {
  -fx-text-fill: -fx-primary-color; /* #161515 */
  -fx-prompt-text-fill: -fx-primary-color; /* #161515 */
}

.jfx-combo-box .list-cell {
  -fx-text-fill: -fx-text-inner-color;
  -fx-prompt-text-fill: -fx-primary-color; /* #161515 */
}

/* Custom styling for text fields */
.jfx-text-field-custom {
  -jfx-unfocus-color: -fx-primary-color; /* #161515 */
}


