
.label-text {
  /*-fx-text-fill: -fx-primary-color;*/
}

.buttons {
  -fx-background-color: -fx-accent-color; 
  -fx-text-fill: -fx-primary-color; 
  -fx-font-weight: BOLD;
  
}

.addictional-buttons {
  -fx-background-color: -fx-addictional-color;
  -fx-text-fill: -fx-primary-color;
  -fx-font-weight: BOLD;
}

/* Styling for combo box list cells */
.jfx-combo-box .list-cell:empty {
  /*-fx-text-fill: -fx-primary-color;*/ 
  /*-fx-prompt-text-fill: red;*/
}

.jfx-combo-box .list-cell {
  -fx-text-fill: -fx-text-inner-color; /* texto na lista do combobox */
}
.jfx-combo-box {
  -jfx-unfocus-color: -fx-secondary-color; /* cor da borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /*cor da escrita */
  -jfx-unfocus-color: -fx-primary-color; /* cor da borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* cor do prompt  */
  -jfx-focus-color: -fx-addictional-color; /* cor do prompt text ao subir no text field */
}

.jfx-text-field {
  -jfx-unfocus-color: -fx-primary-color; /* borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* prompt text */
  -jfx-focus-color: -fx-addictional-color; /* prompt text ao subir no text field */

}
.jfx-text-field:focused {
  -jfx-unfocus-color: -fx-secondary-color; /* borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /* texto que o usário escreve */
}