
#pLogin{
	-fx-background-color: -fx-secondary-color;
}
#lblSignIn {
  -fx-text-fill: -fx-on-secondary-color;
}

#lblSignInEmail {
  -fx-text-fill: -fx-on-secondary-color;
}

#lblSignInPassword {
  -fx-text-fill: -fx-on-secondary-color;
}

#btnSignIn {
  -fx-background-color: -fx-terciary-color;
  -fx-text-fill: -fx-on-terciary-color;
}

#lblSignUp {
  -fx-text-fill: -fx-terciary-color;
}

#lblSignUpEmail {
  -fx-text-fill: -fx-terciary-color;
}

#lblSignUpPassword {
  -fx-text-fill: -fx-terciary-color;
}

#btnSignUp {
  -fx-background-color: -fx-terciary-color;
  -fx-text-fill: -fx-on-terciary-color;
}

#btnSignUpGoogle {
  -fx-background-color: -fx-google-color;
}
#lbl-google{
	-fx-text-fill: -fx-terciary-color;
}
#icon-google {
	-fx-fill: -fx-terciary-color;
}
