


#pLogin{
	-fx-background-color: -fx-addictional-color;
}
#lblSignIn {
  -fx-text-fill: -fx-secondary-color;
}

#lblSignInEmail {
  -fx-text-fill: -fx-secondary-color;
}

#lblSignInPassword {
  -fx-text-fill: -fx-secondary-color;
}

#btnSignIn {
  -fx-background-color: -fx-secondary-color;
  -fx-text-fill: -fx-accent-color;
}

#lblSignUp {
  -fx-text-fill: -fx-accent-color;
}

#lblSignUpEmail {
  -fx-text-fill: -fx-accent-color;
}

#lblSignUpPassword {
  -fx-text-fill: -fx-accent-color;
}

#btnSignUp {
  -fx-background-color: -fx-accent-color;
  -fx-text-fill: -fx-primary-color;
}

#btnSignUpGoogle {
  -fx-background-color: -fx-google-color;
  -fx-text-fill: -fx-primary-color;
  
}
#lbl-google{
	-fx-text-fill: -fx-primary-color;
}
#icon-google {
	-fx-fill: -fx-primary-color;
	-fx-font-size: 1.5em;
}