
.primary-content {
	-fx-background-color: white-color;
}
/* Abre a visualização das telas de edição, como a tela AddInterference */
.btn-view {
	-fx-background-color: accent-color;
	-fx-text-fill: white-color;
	-fx-font-weight: BOLD;
}
.btn-view:hover {
	-fx-scale-x: 1.3; 
	-fx-scale-y: 1.3;
}

.btn-view:pressed {
	-fx-scale-x: 1.5; 
	-fx-scale-y: 1.5;
}

.btn-view:hover {
	-fx-scale-x: 1.3; 
	-fx-scale-y: 1.3;
}

.btn-view:pressed {
	-fx-scale-x: 1.5; 
	-fx-scale-y: 1.5;
}

/* Botões de persistência */
.btn-persist {
	-fx-background-color: primary-color;
	-fx-text-fill: white-color;
	-fx-font-weight: BOLD;
}
.btn-persist:hover {
	-fx-scale-x: 1.1; 
	-fx-scale-y: 1.1;
}

.btn-persist:pressed {
	-fx-scale-x: 1.15; 
	-fx-scale-y: 1.15;
}
/* Botões Acessórios */

.btn-acc {
	-fx-background-color: primary-color;
	-fx-text-fill: white-color;
	-fx-font-weight: BOLD;
}
.btn-acc:hover {
	-fx-scale-x: 1.1; 
	-fx-scale-y: 1.1;
}

.btn-acc:pressed {
	-fx-scale-x: 1.15; 
	-fx-scale-y: 1.15;
}

.icons {
	-fx-font-family: "FontAwesome";
	-fx-fill: white-color;
}

/** Combobox */
.combo-box {
	-jfx-unfocus-color: accent-color;
	/* cor da borda inferior ao clicar (un focus) */
	-fx-text-fill: accent-color; /*cor da escrita */
	-fx-prompt-text-fill: accent-color; /* cor do prompt  */
	-jfx-focus-color: accent-color;
	/* cor do prompt text ao subir no text field */
}

.btn-conversor {
	-fx-background-color: primary-color;
	-fx-text-fill: white-color;
	-fx-font-weight: BOLD;
}
.btn-conversor:hover {
	-fx-scale-x: 1.1; 
	-fx-scale-y: 1.1;
}

.btn-conversor:pressed {
	-fx-scale-x: 1.4; 
	-fx-scale-y: 1.4;
}

.combo-box .list-cell {
	-fx-text-fill: -fx-text-inner-color; /* texto na lista do combobox */
}

/** Text Fields  */
.text-field {
	-fx-text-fill: black-color; /*cor da escrita */
	-jfx-unfocus-color: accent-color; /* cor da borda inferior */
	-fx-prompt-text-fill: accent-color; /* cor do prompt  */
	-jfx-focus-color: accent-color;
	/* cor do prompt text ao subir no text field */
}

/* Login */

.google-button {
	-fx-background-color: google-color;
	-fx-text-fill: white-color;
	-fx-font-weight: BOLD;
}
.google-button .icons {
	-fx-font-family: "FontAwesome";
	-fx-fill: white-color;
}

/** Botões de Mapas */
.btn-map-icons {
    -fx-background-radius: 50%;  /* Makes the button circular */
    -fx-min-width: 40px;
    -fx-min-height: 40px;
    -fx-max-width: 40px;
    -fx-max-height: 40px;
    -fx-border-radius: 50%;
    -fx-border-width: 2px;
    -fx-border-color: white;
    -fx-padding: 5px;
}
.btn-map-icons:hover {
    -fx-min-width: 48px; /* Slightly larger */
    -fx-min-height: 48px;
    -fx-max-width: 48px;
    -fx-max-height: 48px;
    -fx-background-size: 32px 32px; /* Larger icon size on hover */
}

.btn-open-layers {
    -fx-background-color: #FCFCFC; /* OpenLayers color */
}

.btn-leaflet {
    -fx-background-color: #4CAF50; /* Leaflet green */
}

.btn-map-box {
    -fx-background-color: #4264FB; /* Mapbox blue */
}
.web-view {
	
}
.web-view .scroll-bar:vertical {
    -fx-opacity: 0;
    -fx-max-width: 0;
}

.tf-demands {
    -fx-padding: 5px; /* Top/Bottom 0px, Left/Right 20px padding */
}

.text-field-subpurpose {
    -fx-padding: 0 5px 0 5px; /* Padding */
    -fx-pref-height: 30px;   /* Preferred height */
    -fx-pref-width: 200px;   /* Preferred width */
    /* Add any other styles as needed */
}
