* {

	-fx-primary-color: #68c4c3;/* #fefffe;*/
    -fx-secondary-color: #f0eaec;/* #000750;*/
    -fx-accent-color: #4a333e;
    -fx-addictional-color: #715b92;
	-fx-google-color: #FF3B00;
	/* tamanho da fonte */
	-fx-font-size: 14px;
	
}

.root{
    -fx-background-color: -fx-primary-color;
    background-color: -fx-secondary-color;
}

.container {
	-fx-background-color: -fx-primary-color;
}
.container .button{
  -fx-background-color: -fx-addictional-color;
  -fx-text-fill: -fx-secondary-color;
  -fx-font-weight: BOLD;
}
.container .on-prompt-move {
        -jfx-focus-color: -fx-secondary-color; /* prompt text ao subir no text field */
}
.container .bottom-border {
         -jfx-unfocus-color: -fx-addictional-color; /* borda inferior */
}
.container .text-color {
        -fx-text-fill: -fx-addictional-color;
}
.container .prompt-text {
        -fx-prompt-text-fill: -fx-addictional-color; /* label de descriçaõ */
}
.container .title{
        -fx-font: normal bold 22px 'serif';
}
.content {
	-fx-background-color: -fx-secondary-color;
}
/* Styling for combo box list cells */
.content .jfx-combo-box .list-cell:empty {
  /*-fx-text-fill: -fx-primary-color;*/ 
  /*-fx-prompt-text-fill: red;*/
}

.content .jfx-combo-box .list-cell {
  -fx-text-fill: -fx-text-inner-color; /* texto na lista do combobox */
}
.content .jfx-combo-box {
  -jfx-unfocus-color: -fx-secondary-color; /* cor da borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /*cor da escrita */
  -jfx-unfocus-color: -fx-primary-color; /* cor da borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* cor do prompt  */
  -jfx-focus-color: -fx-addictional-color; /* cor do prompt text ao subir no text field */
}

.content .jfx-text-field {
  -jfx-unfocus-color: -fx-primary-color; /* borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* prompt text */
  -jfx-focus-color: -fx-addictional-color; /* prompt text ao subir no text field */

}
.content .jfx-text-field:focused {
  -jfx-unfocus-color: -fx-secondary-color; /* borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /* texto que o usário escreve */
}


.label{
    -fx-text-fill: -fx-accent-color;
}
.pane-grid {
    -fx-background-color: -fx-primary-color;
    background-color: -fx-primary-color;
}

.tab-pane-grid {
    -fx-background-color: -fx-primary-color;
    background-color: -fx-primary-color;
    -fx-background-insets: 3 0 0 0;
}

.text-field {
    -fx-text-fill: -fx-accent-color;

}
.button {
  	-fx-font-weight: BOLD;
}
.primary-button {
	-fx-background-color: -fx-accent-color;
	-fx-text-fill: -fx-primary-color; 
}
.addictional-button {
  -fx-background-color: -fx-additional-color;
  -fx-text-fill: -fx-primary-color;
  -fx-font-weight: BOLD;
}


/* Styling for combo box list cells */
.jfx-combo-box .list-cell:empty {
  /*-fx-text-fill: -fx-primary-color;*/ 
  /*-fx-prompt-text-fill: red;*/
}

.jfx-combo-box .list-cell {
  -fx-text-fill: -fx-text-inner-color; /* texto na lista do combobox */
}
.jfx-combo-box {
  -jfx-unfocus-color: -fx-secondary-color; /* cor da borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /*cor da escrita */
  -jfx-unfocus-color: -fx-primary-color; /* cor da borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* cor do prompt  */
  -jfx-focus-color: -fx-addictional-color; /* cor do prompt text ao subir no text field */
}

.jfx-text-field {
  -jfx-unfocus-color: -fx-primary-color; /* borda inferior */
  /*-fx-prompt-text-fill: -fx-primary-color;*/ /* prompt text */
  -jfx-focus-color: -fx-addictional-color; /* prompt text ao subir no text field */

}
.jfx-text-field:focused {
  -jfx-unfocus-color: -fx-secondary-color; /* borda inferior ao clicar (un focus) */
  -fx-text-fill: -fx-accent-color; /* texto que o usário escreve */
}

/* TableView */
.table-view{
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-border-color: -fx-primary-color;
    border-color: -fx-primary-color;
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
    -fx-table-cell-border-color: -fx-primary-color;
}
.table-view:focused{
    -fx-border-width: 1;
    border-width: 1;
    -fx-border-radius: 0;
    border-radius: 0;
    -fx-border-color: #4e4e4e;
    border-color: #4e4e4e;
    -fx-background-insets: 1;
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
}
.table-view .column-header-background{
    -fx-border-width: 0 0 1 0;
    border-width: 0 0 1 0;
    -fx-border-color: -fx-primary-color;
    border-color: -fx-primary-color;
    -fx-background-radius: 0;
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
    -fx-text-fill: #AFB1B3;
}
.table-view .column-header {
    -fx-background-color: transparent;
    background-color: transparent;
    -fx-border-color: -fx-primary-color;
    border-color: -fx-primary-color;
}
.table-view .column-resize-line {
    -fx-background-color: #4e4e4e;
    background-color: #4e4e4e;
    -fx-pref-width: 1;
}
.table-row-cell{
    -fx-background-color: #1A1A1A;
    background-color: #1A1A1A;
    -fx-text-background-color: #AFB1B3;
    -fx-margin: 1;
    margin: 1;
}
.table-row-cell:hover {
    -fx-background-color: #3E3E40;
    background-color: #3E3E40;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:selected {
    -fx-table-cell-border-color: -fx-primary-color;
    -fx-background-color: #3E3E40;
    background-color: #3E3E40;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-row-cell:pressed {
    -fx-background-color: #4e4e4e;
    background-color: #4e4e4e;
    -fx-background-insets: 0;
    -fx-background-radius: 0;
}
.table-view .column-header .label {
    -fx-cursor: HAND;
    cursor: HAND;
}
.table-view .filler {
    -fx-background-color: transparent;
    background-color: transparent;
}
.table-view .column-drag-header{
    -fx-background-color: #4e4e4e;
    background-color: #4e4e4e;
}
.icon-light-dark {
	-fx-font-size: 28px;
	-fx-fill: -fx-addictional-color; /*cor da escrita */
}
.nav-buttons {
	-fx-background-color: transparent;
}

