* {
	/* cores */
	-fx-primary-color: #fefffe;
	-fx-on-primary-color: #000750;
	-fx-secondary-color: #9FC773;
	-fx-on-secondary-color: #000750;
	-fx-terciary-color: #000750;
	-fx-on-terciary-color: #fefffe;
	-fx-addictional-color: #7d7686;
	-fx-on-addictional-color: #fefffe;
	-fx-google-color: #FF3B00;
	/* tamanho da fonte */
	-fx-font-size: 14px;

}