* {

	-fx-primary-color: #68c4c3;/* #fefffe;*/
    -fx-secondary-color: #f0eaec;/* #000750;*/
    -fx-accent-color: #4a333e;
    -fx-addictional-color: #715b92;
	-fx-google-color: #FF3B00;
	/* tamanho da fonte */
	-fx-font-size: 14px;
	
}

.container {
	-fx-background-color: -fx-primary-color;
}
.content {
	-fx-background-color: -fx-secondary-color;
}