* {
	primary-color: #3745aa;
	primary-rgba-color: rgba(55, 69, 170, 0.2);
	secondary-color: #3745aa;
	accent-color: #00c793;
	black-color: #000000;
	white-color: #FFFFFF;
	gray-color: #808080;
	-fx-font-size: 15px;
	google-color: #FF3B00;
}



