
.title{
	-fx-font: normal bold 20px 'serif';
}
.bg-gray {
	-fx-background-color: rgba(240, 240, 240, 0.8);
}

.button-secondary-content {
  -fx-background-color: -fx-addictional-color;
  -fx-text-fill: -fx-secondary-color;
  -fx-font-weight: BOLD;
}

.tf-secondary-content-on-prompt-move {
	-jfx-focus-color: -fx-secondary-color; /* prompt text ao subir no text field */
}
.tf-secondary-content-bottom-border {
	 -jfx-unfocus-color: -fx-addictional-color; /* borda inferior */
}
.lbl-secondary-content-text-color {
	-fx-text-fill: -fx-addictional-color; 
}
.tf-secondary-content-prompt-text {
	-fx-prompt-text-fill: -fx-addictional-color; /* label de descriçaõ */
}