<!-- 
 * Main
 * @id 13
 * @nome index.html
 * @pasta 5
 * @descricao Registro de Direito de Uso
 */
-->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="script.js" defer></script>
    <script src="limits-table.js"></script>
    <script src="geographic-table.js"></script>
    <script src="grant-requirements.js"></script>
    <script src="chief-signature.js"></script>
    <!-- pastas compartilhadas pelos templates -->
    <script src="../models/interferencia.js"></script>
     <script src="../actions/actions.js"></script>
   
   
  </head>
  <body>
    <div id="app" style="    margin-left: 10px;margin-right: 10px;"></div>
    <div id="actions"></div>
  </body>
</html>