<!DOCTYPE html>
<html>
<!-- 
 * Main
 * @nome Outorga De Direito de Uso
 * @descricao Arquivo principal .html
 * @diretorio 3
 * @arquivo index.html
 * @id 
 *
 *
 */

 -->

 <head>
	<title>Despacho de Outorga De Direito de Uso</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.10/purify.min.js"></script>

	<script src="script.js" defer></script>
	<script src="./subject-view.js"></script>
	<script src="./object-view.js"></script>
	<script src="./grant-requirements-view.js"></script>
	<script src="../shared/chief-signature-view.js"></script>
	

	<!-- Arquivos compartilhados entre os temas -->

	<script src="../utils/script.js"></script>
	<!-- Visualizações Compartilhadas -->
	<script src="../actions/script.js"></script>
	
	<script src="../shared/limits-table-view.js"></script>

	<!-- pastas compartilhadas pelos templates -->
	<script src="../models/interferencia-model.js"></script>
	<script src="../models/documento-model.js"></script>
	<script src="../models/endereco-model.js"></script>
	<script src="../models/usuario-model.js"></script>
	<script src="../models/demanda-model.js"></script>
	<script src="../models/tipo-poco-model.js"></script>
	<script src="../models/finalidade-model.js"></script>
</head>

<body>
	<div id="app" style="margin-left: 10px; margin-right: 10px;"></div>
	<div id="actions"></div>
</body>

</html>