<!-- 
 * Main
 * @id 4
 * @descricao Despacho de Outorga Prévia
 * @pasta 1
 * @nome index.html
 */
-->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<script src="script.js" defer></script>
		<script src="../actions/script.js"></script>
		<script src="../utils/script.js"></script>
		<!-- tabelas -->
		<script src="limits-table.js"></script>
		<script src="geographic-table.js"></script>
		<!-- requisitos da outorga -->
		<script src="grant-requirements.js"></script>
		<!-- assinatura da chefia -->
		<script src="chief-signature.js"></script>
		<!-- pastas compartilhadas pelos templates -->
		<script src="../models/interferencia.js"></script>
		<script src="../models/documento.js"></script>
		<script src="../models/endereco.js"></script>
		<script src="../models/usuario.js"></script>
		<script src="../models/demanda.js"></script>
		<script src="../models/tipo-poco.js"></script>
	</head>
	<body>
			<div id="app" style="margin-left: 10px; margin-right: 10px;"></div>
			<div id="actions"></div>
	</body>
</html>
